<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{% url 'profile:index' %}">Perusahaan</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<!-- LINK MENUJU table, dan link menuju home#form -->
		<li><a href="{% url 'login:index' %}"> Dashboard </a></li>
		<li><a href="{% url 'profile:index' %}"> Profile </a></li>
		<li><a href="{% url 'forum:index' %}"> Forum </a></li>
		<li><a href="{% url 'login:index' %}"> Cari Mahasiswa </a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right" id="header-user-login"> </ul>
	</div>
  </div>
</nav>
