{% extends "general/layout/base.html" %}

{% block title %}JOBNet{% endblock %}

{% block content %}
    <div class="container">
        <script type="in/Login"></script>
        <div class="button-logout">SIGN OUT</div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var onLinkedInLoad = function() {
console.log("TESSN LQGI");
    IN.Event.on(IN, "auth", onSuccess)
}

var onSuccess = function (o) {
    console.log("TEROTORISASI" + IN.User.isAuthorized()),
    console.log("SUKSES!");
    
    IN.API.Raw("/companies?format=json&is-company-admin=true").result(function(comps) {
        console.log(comps), comp_data = comps.values[0], comp_id = comp_data.id, IN.API.Raw("/companies/" + comp_id + ":(id,name,ticker,description)?format=json").result(function(data_comp) {
        $(".nama-perusahaan").html(data_comp.name);
        $("#header-user-login").append('<li><a href="#"><span class="glyphicon glyphicon-user" id="nama-perusahaan"></span>'+data_comp.name+'</a></li><li><a id="navbar-logout-btn"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>');
        $("#navbar-logout-btn").on("click", user_log_out);
        $("#navbar-logout-btn").css("cursor", "pointer");
            console.log(data_comp);
        }).error(failGetData)
    }).error(failGetData)
}

var user_log_out = function() {
    IN.User.logout(function(o) {
        window.location.replace('/login/')
    });
};

var suksesGetData = function(o) {
    console.log(o)
}

var failGetData = function(o) {
    console.log("WHY ON BLODDY EARTH THIS IS NOT WORKING!")
}

var onError = function(o) {
    console.log("EROR!"), console.log(o)
}
    </script>
    
    {% endblock %}