{% extends "general/layout/base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="container"></div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var onLinkedInLoad = function() {
    console.log(IN.User.isAuthorized());
    if (IN.User.isAuthorized() === false) {window.location.replace('/login/');} else {
    IN.API.Raw("/companies?format=json&is-company-admin=true").result(
    function(data_user){
    
    
    console.log(data_user);
      comp_data = data_user.values[0];
      comp_id = comp_data.id;
      IN.API.Raw("/companies/" + comp_id + ":(id,name,description,website-url,company-type,logo-url,specialties,locations)?format=json").result(
      function (data_comp) {
            appear(data_comp);
          console.log(data_comp);
          if (data_comp.companyType) {
            var type = data_comp.companyType['name'];
          }
          var name = data_comp.name;
          var id = data_comp.id;
          if (data_comp.description) {
            var description = data_comp.description;
          }
          var weburl = data_comp.websiteUrl;
          var logourl = data_comp.logoUrl;
          if (data_comp.specialties) {
          var specialties = data_comp.specialties.values[0];
          }
          if (data_comp.locations) {
          var locations = data_comp.locations.values[0].address;
          }
          console.log("TEST STES"); 
          $.ajax({
                url: "/profile/process_profile",
                type: "POST",
                dataType: "json",
                data: {
                    type:type,
                    name:name,
                    id:id,
                    description:description,
                    weburl:weburl,
                    logourl:logourl,
                    specialties:specialties
                    },
                success : function(resp) {
                    console.log(resp);
                    $(".container").append(resp);
                },
                error: function(resp) {
                    console.log(resp);
                    if (resp.responseText) {
                    $(".container").append(resp.responseText);
                    }
                }
            });
      }
      )
        });
    }
};

var user_log_out = function() {
    IN.User.logout(function(o) {
        window.location.replace('/login/')
    });
};

var appear = function (data) {        
    $("#header-user-login").append('<li><a href="#"><span class="glyphicon glyphicon-user" id="nama-perusahaan"></span>'+data.name+'</a></li><li><a id="navbar-logout-btn"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>');
    $("#navbar-logout-btn").on("click", user_log_out);
    $("#navbar-logout-btn").css("cursor", "pointer");
}
    </script>
    
    {% endblock %}