<div class="row">
    <div class="col-sm-4">
        <img class="image_profile" alt="My image" height="200" src={{ imgurl }} width="200">
        <h2>{{name}}</h2>
    <p>{{ descriptions }}</p>
    </div>
    
</div>
<div class="row">
<hr>
    <div class="col-sm-10">
    <h2>Profile Perusahaan {{ name }}</h2>
    <table>
        <tr>
            <td><div class="category" >Tipe Perusahaan</div></td>
            <td>&emsp;:&emsp;</td>
            <td> {{ type }} </td>
        </tr>
        <tr>
            <td><div class="category" >Web Perusahaan</div></td>
            <td>&emsp;:&emsp;</td>
            <td> {{ weburl }}</td>
        </tr>
        <tr>
            <td><div class="category" >Spesialitas</div></td>
            <td>&emsp;:&emsp;</td>
            <td> {{ specialties }} </td>
        </tr>
    </table>
    </div>
    <br> <br> <br> <br> <br> <br> <br>
    <hr>
</div>