{% extends "general/layout/base.html" %}
{% load staticfiles %}
{% load static %}


{% block navbar_user %}
<li><a href="#"><span class="glyphicon glyphicon-user" id="nama-perusahaan-header"></span></a></li>
<li><a href="#"><span class="glyphicon glyphicon-log-out" id="navbar-logout-btn"></span> Logout </a></li>
{% endblock %}


{% block title %}
  Forum Lowongan
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" />
  <style>
    .desain_footer{
      position: absolute;
    }
  </style>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center" style="margin-bottom: 0px; margin-top: 0px; background-color: #F1F7ED">
  <div class="container">
    <h1 class="display-3" style="font-family: Impact;">Forum Diskusi Lowongan Kerja</h1>
  </div>
</div>

<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'forum:add_message' id %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>


{% if message_list %}
{% for data in message_list %}
  <section name="update-status" id="update-status">
      <div class = "status">
          <div class="row">
              <div class="col-sm-12 col-sm-offset-0">
                <div class="media" style="padding: 15px">
                  <div class="media-left">
                  </div>
                  <div class="media-body">
                      <strong>{{data.title}} </strong>
                      <h6>Posted on {{data.created_date}}</h6>
                      <p>{{data.message}}</p>
                      <div class="delete" data-id="{{data.id}}">
                        <a href="{% url 'forum:clear' object_id=data.id %}"><img src="https://png.icons8.com/full-trash/androidL/1600" style="width: 35px;height 35px; top: 10px;"></a>
                      </div>
                  </div>
                </section>
                  <section name="update-comment" id="update-comment">
                    {% for comment in comments %}
                      <div class = "comment">
                            <div class="row">
                              <div class="col-sm-8 col-sm-offset-0">
                                <div class="media" style="padding: 8px">
                                  <div class="media-left">
                                  </div>
                                  <div class="media-body">
                                    <strong>Reply</strong>
                                    <h6>Posted on {{comment.created_date}}</h6>
                                    <p>{{comment.comment}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    {% endfor %}
                  </section>
                    <section name="popupBoxPosition" id="popupBoxPosition">
                      <div class="popupBoxWrapper">
                        <div class="popupBoxContent">
                          <form id="form" method="POST" action="{% url 'forum:update_comment' pk=data.id %}">
                            <h2>Add Comment</h2>
                            <br>
                            {% csrf_token %}
                            {{ comment_form }}
                            <br>
                            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Post Comment">
                          </form>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
{% endfor %}
{% else %}
    <div class="alert alert-danger text-center">
                <strong>Maaf!</strong> Tidak ada forum
            </div>
{% endif %}

{% if message_list.has_other_pages %}
    <ul class="pagination">
        {% if message_list.has_previous %}
            <li><a href="?page={{ message_list.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in message_list.paginator.page_range %}
            {% if message_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if message_list.has_next %}
              <li><a href="?page={{ message_list.next_page_number }}">&raquo;</a></li>
        {% else %}
              <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}

<script type="text/javascript">
  <!--
   function toggle_visibility(id) {
    var e = document.getElementById(id);
    if(e.style.display == 'block')
     e.style.display = 'none';
    else
     e.style.display = 'block';
   }
  //-->
</script>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var onLinkedInLoad = function() {
    console.log(IN.User.isAuthorized());
    if (IN.User.isAuthorized() === false) {window.location.replace('/login/');} else {
    IN.API.Raw("/companies?format=json&is-company-admin=true").result(function(comps){
        console.log(comps), comp_data = comps.values[0], comp_id = comp_data.id, IN.API.Raw("/companies/" + comp_id + ":(id,name,ticker,description)?format=json").result(function(data_comp) {
        
        $("#header-user-login").append('<li><a href="#"><span class="glyphicon glyphicon-user" id="nama-perusahaan"></span>'+data_comp.name+'</a></li><li><a id="navbar-logout-btn"><span class="glyphicon glyphicon-log-out" id="navbar-logout-btn"></span> Logout </a></li>');
        $("#navbar-logout-btn").on("click", user_log_out);
        $("#navbar-logout-btn").css("cursor", "pointer");
        console.log(data_comp);
        });
    });
    }
};

var user_log_out = function() {
    IN.User.logout(function(o) {
        console.log(o);
        window.location.replace('/login/')
    });
};
    </script>
    
{% endblock %}